@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

$primary: #f26b2c;
$grey-100: #f3f6fa;
$grey-900: #1a2538;

